.about {
  margin-bottom: 98px;
  &:last-child {
    margin-bottom: 0;
  }
  &__wrapper {
  }

  &__items {
  }

  &__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 96px;
    &:last-child {
      margin-bottom: 0;
    }

    &--revers {
      flex-direction: row-reverse;
      .about__item-img {
        margin-right: 0;
      }
      .about__item-content {
        margin-right: 56px;
      }
    }
  }

  &__item-img {
    width: 100%;
    max-width: 834px;
    margin-right: 56px;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    &:last-child {
      margin-right: 0;
    }
  }

  &__item-content {
    width: 100%;
    max-width: 910px;
  }

  &__item-title {
    margin-bottom: 58px;
  }

  &__item-list {
  }

  &__item-list-elem {
    padding-left: 54px;
    position: relative;
    margin-bottom: 26px;
    font-size: 24px;
    line-height: 130%;
    &:last-child {
      margin-bottom: 0;
    }

    &::before {
      content: '';
      position: absolute;
      width: 34px;
      height: 34px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);

      background-image: url(../img/icon/check.svg);
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

@media (max-width: 1300px) {
  .about {
    &__item-img {
      margin-right: 40px;
    }
    &__item {
      margin-bottom: 50px;
      &--revers {
        .about__item-content {
          margin-right: 40px;
        }
      }
    }
    &__item-list-elem {
      font-size: 20px;
      padding-left: 46px;
      margin-bottom: 20px;

      &::before {
        width: 26px;
        height: 26px;
      }
    }
    &__item-title {
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 900px) {
  .about {
    &__item {
      flex-direction: column;
    }
    &__item-img {
      height: 300px;
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 768px) {
  .about {
    margin-bottom: 70px;
    &__item-img {
      height: 200px;
      margin-bottom: 20px;
    }
    &__item-list-elem {
      font-size: 16px;
      padding-left: 30px;
      &::before {
        width: 20px;
        height: 20px;
      }
    }
  }
}
