.cover {
  background-image: url(../img/cover/bg.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  color: #efefef;
  margin-bottom: 80px;
  min-height: 885px;

  &--2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 180px 0 95px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 1;
  }

  &__title-block {
    margin-bottom: 35px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__title {
    text-align: center;
    font-family: var(--font-text-2);
    font-size: 72px;
    font-weight: 700;
    line-height: 120%; /* 86.4px */
    text-transform: uppercase;
    margin-bottom: 12px;
    &:last-child {
      margin-bottom: 0;
    }

    &--mb {
      margin-bottom: 80px;
    }
  }

  &__subtitle {
    font-family: var(--font-text-2);
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    max-width: 1500px;
    margin-bottom: 50px;
  }

  &__desc {
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(12.5px);
    text-align: center;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #201c1c;
    margin-bottom: 35px;
    &:last-child {
      margin-bottom: 0;
    }
    ul {
      text-align: left;
      list-style-type: disc;
      list-style-position: inside;
    }
    p,
    li,
    .cover__desc--p {
      font-size: 24px;
      line-height: 130%; /* 31.2px */
      max-width: 720px;
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    b {
      font-weight: 700;
    }
  }

  &__btns {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
  }

  &__btn {
    max-width: fit-content;
    margin-right: 40px;
    padding: 20px 40px;
    &:last-child {
      margin-right: 0;
    }
  }

  &__video {
    height: 885px;
    width: 100%;
    object-fit: cover;
    pointer-events: none;
  }

  &__video-desc,
  &__video-mob {
    display: none;
    &.visible {
      display: flex;
    }
  }
}
@media (max-width: 1600px) {
  .cover {
    min-height: auto;
    &__video {
      height: 700px;
    }
  }
}
@media (max-width: 1260px) {
  .cover {
    &__video {
      height: 600px;
    }
  }
}

@media (max-width: 1100px) {
  .cover {
    &__title {
      font-size: 60px;
    }
    &__subtitle {
      font-size: 40px;
    }
    &__video {
      height: 400px;
    }
  }
}

@media (max-width: 768px) {
  .cover {
    &--2 {
      padding: 120px 0 70px;
    }
    &__title {
      font-size: 50px;
    }
    &__subtitle {
      font-size: 32px;
    }
    &__btns {
      flex-direction: column;
    }
    &__btn {
      margin-right: 0;
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &__desc {
      padding: 20px;
      p,
      li,
      .cover__desc--p {
        font-size: 18px;
      }
    }
    &__video {
      height: 100%;
    }
  }
}

@media (max-width: 550px) {
  .cover {
    &__video {
      height: calc(568px + (975 - 568) * ((100vw - 320px) / (550 - 320)));

      iframe {
        object-fit: cover;
      }
    }
  }
}

@media (max-width: 500px) {
  .cover {
    &__video {
      // height: 840px;
    }
  }
}

@media (max-width: 450px) {
  .cover {
    &__title {
      font-size: 40px;
    }
    &__subtitle {
      font-size: 24px;
    }
  }
}
