.header {
  padding: 20px 0;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  transition: 0.3s;
  color: #ffffff;

  &--static {
    position: absolute;
  }

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: 0.3s;
    z-index: 9;
  }

  &--scroll,
  &--active {
    &::before {
      background-color: rgba(64, 58, 58, 0.3);
      backdrop-filter: blur(25px);
      border-radius: 5px;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 10;
  }

  &__logo {
    width: 100%;
    max-width: 69px;
    display: flex;
    margin-right: 20px;
  }

  &__content {
    display: flex;
    align-items: center;
  }

  &__btn {
    width: 198px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(190, 141, 52, 0.3);
    border-radius: 5px;
    padding: 15px 10px;
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    text-align: center;
    letter-spacing: -0.03em;
    color: #ffffff;
    cursor: pointer;
    margin-right: 55px;
    background-color: transparent;
    transition: 0.3s;

    &:hover {
      background-color: #be8d34;
    }
  }

  &__links {
    display: flex;
    align-items: center;
    margin-right: 54px;
  }

  &__link {
    margin-right: 40px;

    position: relative;
    cursor: pointer;

    &:hover {
      p {
        color: rgba(190, 141, 52, 1);
      }

      .header__link-sublink-block {
        opacity: 1;
        pointer-events: all;
      }
    }
    &:last-child {
      margin-right: 0;
    }
    p {
      font-size: 14px;
      font-weight: 600;
      line-height: 120%; /* 16.8px */
      letter-spacing: -0.42px;
      transition: 0.3s;

      display: flex;
      align-items: center;
      img {
        width: 100%;
        max-width: 14px;
        margin-left: 4px;
        transition: 0.3s;
        display: none;
        object-position: center;
      }
    }

    &--active {
      p {
        color: rgba(190, 141, 52, 1);
      }
    }
  }

  &__link-sublink-block {
    position: absolute;
    width: fit-content;
    top: calc(100% + 5px);
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    pointer-events: none;
    background-color: rgba(61, 61, 61, 0.6);
    backdrop-filter: blur(17.5px);
    transition: 0.3s;
    padding: 14px;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 5px;
      top: -5px;
      left: 0;
    }
  }

  &__link-sublink {
    font-size: 14px;
    line-height: 120%; /* 16.8px */
    letter-spacing: -0.42px;
    margin-bottom: 10px;
    transition: 0.3s;
    &:last-child {
      margin-bottom: 0;
    }
    &:hover {
      color: rgba(190, 141, 52, 1);
    }
  }

  &__langs {
    display: flex;
    align-items: center;
    margin-right: 35px;
  }

  &__lang {
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    color: rgba(239, 239, 239, 0.7);
    margin-right: 7px;
    transition: 0.3s;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      color: rgba(#be8d34, 0.6);
    }

    &--active {
      color: #be8d34;
      &:hover {
        color: #be8d34;
      }
    }
  }
}

@media (max-width: 850px) {
  .header {
    &__content {
      flex-direction: column;
      align-items: flex-start;
    }
    &__links {
      flex-direction: column;
      align-items: flex-start;
      margin-right: 0;
      margin-bottom: 50px;
    }
    &__link {
      margin-bottom: 16px;
      margin-right: 0;
      &:last-child {
        margin-bottom: 0;
      }
      p {
        font-size: 24px;
        font-weight: 600;
        letter-spacing: -0.72px;
        img {
          display: flex;
        }
      }
      &:hover {
        .header__link-sublink-block {
          display: flex;
        }
        p {
          img {
            transform: rotate(-90deg);
          }
        }
      }
    }
    &__link-sublink-block {
      position: relative;
      padding: 0;
      background-color: rgba(0, 0, 0, 0);
      flex-direction: column;
      left: auto;
      transform: translateX(0);
      display: none;
      margin-top: 16px;
    }
    &__link-sublink {
      margin-bottom: 12px;
      font-size: 16px;
    }
  }
}

@media (max-width: 768px) {
  .header {
    padding: 17px 0;

    &__logo {
      max-width: 57px;
    }

    &__btn {
      width: 156px;
      padding: 10px 0;
      margin-right: 36px;
    }
  }
}

@media (max-width: 425px) {
  .header {
    &__logo {
      max-width: 50px;
      margin-right: 10px;
    }
    &__btn {
      width: 126px;
      font-size: 12px;
      margin-right: 15px;
    }
    &__langs {
      margin-right: 15px;
    }
  }
}

.burger {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #262427;
  color: #ffffff;
  top: 0;
  left: -100%;
  z-index: 101;
  padding: 115px 45px 32px;
  overflow: auto;
  transition: 0.3s;

  &--active {
    left: 0;
  }

  &__btn {
    width: 100%;
    max-width: 26px;
    height: 16px;
    position: relative;
    cursor: pointer;
    display: none;

    &::before,
    &::after,
    span {
      content: '';
      width: 100%;
      height: 2px;
      position: absolute;
      background-color: #fff;
      left: 0;
      transition: 0.3s;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    span {
      top: 50%;
      transform: translateY(-50%);
    }

    &:hover {
      &::before,
      &::after,
      span {
        background-color: rgba(190, 141, 52, 1);
      }
    }
  }

  &__btn-close {
    width: 100%;
    max-width: 26px;
    cursor: pointer;
    position: absolute;
    top: 32px;
    right: 45px;
  }
}

@media (max-width: 850px) {
  .burger {
    &__btn {
      display: block;
    }
  }
}
