body {
  background-color: #d5d5d5;
  color: #262427;
  font-family: var(--font-text);
  font-weight: normal;
  position: relative;
  &.lock {
    overflow: hidden;
  }

}

.container {
  width: 100%;
  max-width: 1840px;
  margin: 0 auto;
  padding: 0 20px;
}

.--gradient {
  background-image: linear-gradient(274deg, #be8d34 -14.04%, #fee3b2 215.29%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.--m-non {
  margin-bottom: 0 !important;
}

.no-cover {
  padding-top: 155px;
}

@media (max-width: 768px) {
  .no-cover {
    padding-top: 100px;
  }
}
